@charset "utf-8";

@import "variables.scss";
@import "breakpoints.scss";
@import "mixin.scss";

.home {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    &__title {
        margin: 24px;
        padding: 4px;
        font-size: 2.8rem;

        @include mq(sm) {
            font-size: 1.4rem;
        }

        span {
            padding-right: 8px;
            color: $mainColor;
            font-size: 4.0rem;
            font-weight: bold;

            @include mq(sm) {
                padding-right: 4px;
                font-size: 2.0rem;
            }
        }
    }

    &__subtitle {
        display: inline-block;
        margin: 80px 0;
        color: $mainColor;
        font-size: 2.4rem;

        @include mq(sm) {
            font-size: 1.2rem;
        }
    }

    &__badges {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        @include mq(sm) {
            flex-direction: column;
        }
    }

    &__section {
        margin-top: 64px;
        padding: 0 4%;

        @include mq(sm) {
            margin-top: 48px;
        }

        &-title {
            color: $accentColor;
            margin-bottom: 24px;
            font-size: 2.2rem;

            @include mq(sm) {
                font-size: 1.6rem;
            }
        }

        &-text {
            margin-top: 16px;
            letter-spacing: 2px;
            line-height: 1.6;

            @include mq(lg) {
                text-align: left;
            }

            @include mq(sm) {
                font-size: 1.1rem;
            }
        }
    }

    &__questions {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 40px;

        @include mq(sm) {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }
    }
}
